# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# LocalStack / Pytest cache
.pytest_cache/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.log

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfstate.lock.info
.terraform.tfstate.lock.info
terraform.tfvars
terraform.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Binaries
bin/
*.exe
*.dll
*.so
*.dylib
